<style>
    .weather-station-value {
        vertical-align: middle;
        font-size: 16px;
    }

    .weather-condition-image {
        width: 64px;
        height: 64px;
        margin-top: 10px;
    }

    .weather-station-icon {
        font-size: 22px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>

<div id="weatherStation" class="wh-panel row">
    <div class="wh-panel-header wh-panel-header-active clearfix" ng-click="ctrl.setActivePanel('weatherStation')">
        <span class="panel-title pull-left">Wetterstation</span>
    </div>

    <div class="wh-panel-content">
        <div class="row text-center">
            <div class="col-xs-3">
                <span class="weather-station-icon fas fa-thermometer-half"></span>
                <br />
                <span
                    class="weather-station-value">{{(ctrl.getGlobalVariable('outdoor.temperature') | number:1) + ' °C' }}</span>
            </div>
            <div class="col-xs-3">
                <span class="weather-station-icon fas fa-tint"></span>
                <br />
                <span
                    class="weather-station-value">{{(ctrl.getGlobalVariable('outdoor.humidity') | number:0) + ' %'}}</span>
            </div>
            <div class="col-xs-3">
                <span class="weather-station-icon fas fa-sun"></span>
                <br />
                <span class="weather-station-value">{{ctrl.getGlobalVariable('outdoor.sunrise').substring(0, 5)}}</span>
            </div>
            <div class="col-xs-3">
                <span class="weather-station-icon fas fa-moon"></span>
                <br />
                <span class="weather-station-value">{{ctrl.getGlobalVariable('outdoor.sunset').substring(0, 5)}}</span>
            </div>
        </div>

        <div class="row" ng-if="ctrl.getGlobalVariable('outdoor.condition.image_url', null)!=null">
            <div class="col-xs-12 text-center">
                <img class="weather-condition-image"
                    ng-src="{{ctrl.getGlobalVariable('outdoor.condition.image_url')}}" />
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <a class="btn btn-default btn-block" href="{{ctrl.getGlobalVariable('outdoor.forecast_url')}}"
                    target="_blank">Forecast</a>
            </div>
        </div>
    </div>
</div>