/* Bootstrap overrides */

.panel {
    margin-bottom: 0;
    border: 0;
}

.panel-active {
    background: #427AB6;
}

.panel-heading {
    background-image: none !important;
    color: whitesmoke;
}

.btn-default {
    background: #F2F2F2;
    background-image: none !important;
}

.btn-success {
    background: #5CB85C;
    background-image: none !important;
}

.btn-danger {
    background: #D9534F;
    background-image: none !important;
}

.alert {
    background-image: none !important;
    margin: 0 !important;
    border: 0 !important;
}

.action-button {
    min-width: 60px;
}

* {
    border-radius: 0 !important;
}

body {
    margin: 0;
}

/* Custom styles */

.component-status-text {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.component-status-text-ok {
    color: #3c763d;
}

.component-status-text-warning {
    color: #f0ad4e;
}

.component-status-text-danger {
    color: #d9534f;
}

.button-icon {
    margin-right: 5px;
}

.no-component-view-found {
    font-size: 12pt;
    text-align: center;
}

.component-status-action {
    cursor: pointer;
}

.show-more-button {
    color: gainsboro;
    margin-left: 10px;
    font-size: 1.5em;
    cursor: pointer;
}

.slider-legend {
    height: 16px;
    width: 100%;
}

.version-text {
    font-size: 10pt;
    margin-right: 5px;
}

.component-icon {
    margin-right: 10px;
    font-size: 1.5em;
}

.component-group-icon {
    font-size: 22px;
    text-align: center;
    width: 26px;
    height: 26px;
}

.component-caption {
    font-size: 1.2em;
    vertical-align: text-bottom;
}

.ui-content {
    margin-top: 0;
    padding-top: 0;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.initialized-body{
    background: #838383;
    padding: 0;
}

.footer-icon {
    font-size: 20px;
    color: #427AB6;
}

.connection-status-icon {
    font-size: 20px;
}

.pointer {
    cursor: pointer;
}