<style>
    .rs-btn {
        width: 4em !important;
    }

    .status-icon {
        margin-top: 7px;
        margin-right: 10px;
    }

    .status-icon-ok {
        color: #5cb85c;
    }
  
    .status-icon-default {
        color: lightgray;
    }
</style>

<span class="status-icon pull-left fas fa-square-full" ng-class="component.getStatus('roller_shutter.position')===100 ? 'status-icon-ok' : 'status-icon-default'">
    <span class="wh-status-text wh-text-info"> {{component.getStatus('roller_shutter.position', 0)}} %</span>
</span>

<div class="btn-group pull-right">
    <button class="btn rs-btn" ng-class="component.getStatus('roller_shutter.state')==='moving_up' ? 'btn-danger' : 'btn-default'"
        ng-click="ctrl.componentService.sendMessage(component.uid, {'type':'move_up'})"><span class="fas fa-arrow-up"></span>
    </button>
    <button class="btn rs-btn" ng-class="component.getStatus('roller_shutter.state')==='off' ? 'btn-success' : 'btn-default'"
        ng-click="ctrl.componentService.sendMessage(component.uid, {'type':'turn_off'})"><span class="fas fa-stop"></span>
    </button>
    <button class="btn rs-btn" ng-class="component.getStatus('roller_shutter.state')==='moving_down' ? 'btn-danger' : 'btn-default'"
        ng-click="ctrl.componentService.sendMessage(component.uid, {'type':'move_down'})"><span class="fas fa-arrow-down"></span>
    </button>
</div>