<style>
    .key {
        font-weight: bold;
        font-size: 14px;
        margin-left: 10px;
    }

    .value {
        font-size: 14px;
        margin-left: 10px;
    }
</style>

<div id="panel-heating" class="wh-panel row">
    <div class="wh-panel-header wh-panel-header-active clearfix" ng-click="ctrl.setActivePanel('heating')">
        <span class="panel-title pull-left">Heating</span>
    </div>

    <div class="wh-panel-content">
        <table>
            <tr ng-repeat="zone in ctrl.status['heating']['zones']">
                <td><span class="key">{{zone.uid}}</span></td>
                <td><span class="key">CT=</span><span class="value">{{zone.current_temperature}}</span></td>
                <td><span class="key">TT=</span><span class="value">{{zone.effective_target_temperature}}</span></td>
                <td><span class="key">VC=</span><span class="value">{{zone.valve_command}}</span></td>

                <tr>
                    <td colspan="2">
                        <span class="value"><b>{{zone.status_reason}}</b></span>
                    </td>
                    <td></td>
                </tr>
            </tr>
        </table>
        <div><span class="key">Last update =</span><span class="value">{{ctrl.status["heating"]["last_update"]}}</span></div>
        <div><span class="key">Enabled =</span><span class="value">{{ctrl.status["heating"]["is_enabled"]}}</span></div>
    </div>
</div>