<style>

</style>

<div id="panel-heating" class="row panel panel-active" style="background: white;">
    <div class="panel-heading panel-active pointer clearfix" ng-click="ctrl.setActivePanel('heating')">
        <span class="panel-title pull-left">Heating</span>
    </div>

    <div class="container-fluid">
        <table>
            <tr ng-repeat="zone in ctrl.status.heating">
                <td><span style="margin-right: 1em;">{{zone.uid}}</span></td>

                <td><span><b>{{zone.status_reason}}</b></span></td>
            </tr>
        </table>

    </div>
</div>