<style>
    .brightness-value {
        font-weight: bold;
        min-width: 90px;
        max-width: 110px;
    }
</style>

<div class="input-group pull-right">
    <a href="#" class="btn btn-outline-secondary" ng-class="component.getStatus('power.state')==='on' ? 'btn-danger' : 'btn-default'"
        ng-click="ctrl.componentService.sendMessage(component.uid, {'type':'turn_on'})">ON</a>
    <a href="#" class="btn btn-outline-secondary" ng-class="component.getStatus('power.state')==='off' ? 'btn-success' : 'btn-default'"
        ng-click="ctrl.componentService.sendMessage(component.uid, {'type':'turn_off'})">OFF</a>
</div>

<div ng-show="component.getStatus('brightness.value') != null">

    <br />
    <br />

    <div class="btn-group pull-right">
        <a href="#" class="btn" ng-class="component.getStatus('roller_shutter.state')==='moving_up' ? 'btn-danger' : 'btn-default'"
            ng-click="ctrl.componentService.sendMessage(component.uid, {'type':'increase_brightness','value':5})"><span
                class="fas fa-arrow-up"></span>
        </a>
        <a href="#" class="btn btn-default">
            <span>Brightness: <span class="brightness-value">{{component.getStatus('brightness.value') + ' %'}}</span></span>
        </a>
        <a href="#" class="btn btn-default" ng-class="component.getStatus('roller_shutter.state')==='moving_down' ? 'btn-danger' : 'btn-default'"
            ng-click="ctrl.componentService.sendMessage(component.uid, {'type':'decrease_brightness','value':5})"><span
                class="fas fa-arrow-down"></span>
        </a>
    </div>

</div>

<!-- <div class="input-group" ng-show="component.getStatus('brightness.value') != null">
    <div class="input-group-prepend"></div>
    <span class="input-group-addon">Brightness: <span class="brightness-value">{{component.getStatus('brightness.value')
            + ' %'}}</span></span>

    <a href="#" class="btn btn-default btn-outline-secondary" ng-click="ctrl.componentService.decreaseBrightness(component)"><span
            class="fas fa-minus">&nbsp;</span></a>
    <a href="#" class="btn btn-default btn-outline-secondary" ng-click="ctrl.componentService.increaseBrightness(component)"><span
            class="fas fa-plus">&nbsp;</span></a>
</div> -->