<style>
    .brightness-value {
        font-weight: bold;
        min-width: 90px;
        max-width: 110px;
    }
</style>

<div class="input-group pull-right">
    <a href="#" class="btn btn-outline-secondary" ng-class="component.getStatus('power.state')==='on' ? 'btn-danger' : 'btn-default'"
        ng-click="ctrl.componentService.turnOn(component)">ON</a>
    <a href="#" class="btn btn-outline-secondary" ng-class="component.getStatus('power.state')==='off' ? 'btn-success' : 'btn-default'"
        ng-click="ctrl.componentService.turnOff(component)">OFF</a>
</div>

<br/>
<br/>

<div class="input-group pull-right" ng-show="component.getStatus('brightness.value') != null">
    <div class="input-group-prepend"></div>
    <span class="input-group-addon">Brightness: <span class="brightness-value">{{component.getStatus('brightness.value')
            + ' %'}}</span></span>

    <a href="#" class="btn btn-default btn-outline-secondary" ng-click="ctrl.componentService.decreaseBrightness(component)"><span
            class="fas fa-minus">&nbsp;</span></a>
    <a href="#" class="btn btn-default btn-outline-secondary" ng-click="ctrl.componentService.increaseBrightness(component)"><span
            class="fas fa-plus">&nbsp;</span></a>
</div>

<!-- <div class="input-group" ng-show="component.getStatus('brightness.value') != null">
    <div class="input-group-prepend"></div>
    <span class="input-group-addon">Brightness: <span class="brightness-value">{{component.getStatus('brightness.value')
            + ' %'}}</span></span>

    <a href="#" class="btn btn-default btn-outline-secondary" ng-click="ctrl.componentService.decreaseBrightness(component)"><span
            class="fas fa-minus">&nbsp;</span></a>
    <a href="#" class="btn btn-default btn-outline-secondary" ng-click="ctrl.componentService.increaseBrightness(component)"><span
            class="fas fa-plus">&nbsp;</span></a>
</div> -->