<div class="pull-right" ng-class="component.getSetting('app.display_vertical')===true ? 'btn-group-vertical' : 'btn-group'">
    <button href="#" class="btn" ng-repeat="s in component.getConfiguration('state_machine.states')" ng-class="component.getStatus('state_machine.state')===s ? s==='off' ? 'btn-success' : 'btn-primary' : 'btn-default'"
        ng-click="ctrl.componentService.sendMessage(component.uid, {'type':'set_state','state':s})">
        {{component.getSetting("app.caption.states." + s, "#" + s)}}
</button>
</div>