<style>
    .sensor-value {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        float: right
    }
</style>

<div ng-if="component.hasStatus('humidity.value')">
    <span ng-if="component.getStatus('humidity.value')>=component.getSetting('app.humidity.danger_value', 75)" class="component-status-text label label-danger">Warning!</span>
    <span ng-if="component.getStatus('humidity.value')>=component.getSetting('app.humidity.warning_value', 60) && component.getStatus('humidity.value')<component.getSetting('app.humidity.danger_value', 60)"
        class="component-status-text label label-warning">Warning!</span>
    <span ng-if="component.getStatus('humidity.value')<component.getSetting('app.humidity.warning_value', 60)" class="component-status-text label label-success">OK</span>

    <span class="sensor-value">{{(component.getStatus('humidity.value') | number:0) + ' % r.F.'}}</span>
</div>

<div ng-if="component.hasStatus('temperature.value')">
    <span class="sensor-value">{{(component.getStatus('temperature.value') | number:1) + ' °C'}}</span>
</div>