<style>
    .sensor-value {
        font-size: 24px;
        float: right;
    }

    .sensor-status-text {
        font-size: 16px;   
    }
</style>

<div ng-if="component.hasStatus('humidity.value')">
    <span ng-if="component.getStatus('humidity.value')>=component.getSetting('app.humidity.danger_value', 75)"
        class="sensor-status-text wh-text-danger">Warning!</span>
    <span
        ng-if="component.getStatus('humidity.value')>=component.getSetting('app.humidity.warning_value', 60) && component.getStatus('humidity.value')<component.getSetting('app.humidity.danger_value', 60)"
        class="sensor-status-text wh-text-warning">Warning!</span>
    <span ng-if="component.getStatus('humidity.value')<component.getSetting('app.humidity.warning_value', 60)"
        class="sensor-status-text wh-text-info">OK</span>

    <span class="sensor-value">{{(component.getStatus('humidity.value') | number:0) + ' % r.F.'}}</span>
</div>

<div ng-if="component.hasStatus('temperature.value')">
    <span class="sensor-value">{{(component.getStatus('temperature.value') | number:1) + ' °C'}}</span>
</div>

<div ng-if="component.hasStatus('pressure.value')">
    <span class="sensor-value">{{(component.getStatus('pressure.value') | number:0) + ' hPa'}}</span>
</div>

<div ng-if="component.hasStatus('sensor.value')">
    <span class="sensor-value">{{(component.getStatus('sensor.value'))}}</span>
</div>